@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #267196; */
    
}

body{
    background-color: #267196;
    background-image: url('../../assets/img/elementRight.svg');
    background-position: right top;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
}

.logo{
    font-family: 'Rancho', cursive;
    font-size: 3rem;
    color: #c4fadf;
    margin: 1rem;

}

.link_github{
    font-family: "Poppins", sans-serif;
    color: #c4fadf;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.link_github:hover{
    color: #f7f7f7;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003040;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
    background-color: #003040;
}

.body{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 0 8rem;
}